<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">You are currently viewing the website I personally designed through hours of coding and programming lessons via, the CTS (Code To Success) and taught by Bottega Tech's, Jordan Hudgens.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>